:root {
    /* Primary Colours */
    --strong-cyan      : hsl(171, 66%, 44%);
    --light-blue       : hsl(233, 100%, 69%);
    /* Neutral Colours */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue     : hsl(201, 11%, 66%);
    --background-color : hsl(220, 18%, 97%);
    /* Base font-size */
    font-size          : 18px;
}

/* Initialization */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

/* General Styles */
body {
    font-family: "Bai Jamjuree", sans-serif;
    min-height : 100vh;
    min-width  : 100vw;
    overflow   : hidden;
    overflow-y : scroll;
    position   : relative;
}

section {
    width: 100%;
}

/* Headings */
h1 {
    color      : var(--dark-grayish-blue);
    font-size  : 2.46em;
    font-weight: 600;
}

h2 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.95em;
    font-weight: 600;
}

h3 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.3em;
    font-weight: 600;
}

h4 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.25em;
    font-weight: 600;
}

/* Texts */
p {
    color    : var(--grayish-blue);
    font-size: 1.125em;
}

/* Links */
a {
    color          : var(--dark-grayish-blue);
    font-size      : 1em;
    text-decoration: none;
}

a:hover {
    font-weight    : 500;
    text-decoration: underline;
    transition     : all ease-in-out .3s;
}

/* Buttons */
button {
    border        : 0;
    border-bottom : 0.2em solid;
    border-radius : 2em;
    color         : white;
    cursor        : pointer;
    font-family   : "Bai Jamjuree", sans-serif;
    font-size     : 1em;
    font-weight   : 500;
    height        : fit-content;
    letter-spacing: 0.05em;
    padding       : .85em 1.8em 0.85em 1.8em;
    width         : fit-content;
}

button:hover {
    opacity   : 80%;
    transition: all .3s;
}

/* Common Styles */

.download-for-ios {
    background-color: var(--strong-cyan);
    border-color    : hsl(171, 66%, 38%);
    box-shadow      : 0px 13px 20px -10px hsla(171, 66%, 50%, 0.5);
    margin-right    : -.8em;
}

.download-for-mac {
    background-color: var(--light-blue);
    border-color    : hsl(233, 100%, 63%);
    box-shadow      : 0px 13px 20px -10px hsla(233, 100%, 75%, 0.5);
    margin-left     : 1.25em;
}

.call-to-actions,
.download-buttons {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : .5em;
    justify-content: center;
}

/* HERO Section */
.hero-section {
    align-items        : center;
    background-image   : url(./images/bg-header-desktop.png);
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : 100vw auto;
    display            : flex;
    flex-direction     : column;
    height             : 35.75em;
    justify-content    : center;
}

.hero-section img {
    margin-bottom: 3.2em;
    margin-top   : 2.2em;
}

.hero-section p {
    line-height  : 1.5em;
    margin-bottom: 2.35em;
    margin-top   : .8em;
    text-align   : center;
    width        : 33.75em;
}

/* FEATURE SUMMARY Section */
.features-summary-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : 15em;
    justify-content: center;
}

.features-summary-section p {
    font-size  : 1.015em;
    line-height: 1.625em;
    margin-top : 1.25em;
    text-align : center;
    width      : 38.75em;
}

/* FEATURE OVERVIEW Section */
.feature-overview-section {
    display        : flex;
    flex-direction : row;
    height         : 40em;
    height         : fit-content;
    justify-content: space-between;
    margin-top     : 1.1em;
}

.feature-overview-section img {
    height  : fit-content;
    left    : -1.8em;
    position: relative;
    width   : 52.25%;
}

.features-group {
    align-items   : flex-start;
    display       : flex;
    flex-direction: column;
    gap           : 3.05em;
    position      : relative;
    top           : 3.9em;
    width         : 42.25%;
}

.feature p {
    font-size  : .9em;
    line-height: 1.95em;
    margin-top : .4em;
    width      : 22em;
}

/* CROSS PLATFORM COMPATIBILITY Section */
.cross-platform-compatibility-section {
    height    : 48.27em;
    margin-top: .25em;
    text-align: center;
}

.cross-platform-compatibility-section p {
    font-size    : 1.015em;
    line-height  : 1.725em;
    margin-bottom: 5.35em;
    margin-left  : auto;
    margin-right : auto;
    margin-top   : .975em;
    width        : 37em;
}

/* BENEFITS Section */
.benefits-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : 21em;
    justify-content: center;
    text-align     : center;
}

.benefits-section p {
    font-size : 1.02em;
    margin-top: 1.25em;
}

.benefits-group {
    align-content  : center;
    display        : flex;
    flex-direction : row;
    gap            : 1em;
    justify-content: center;
    margin-top     : 4.5em;
    width          : 70em;
}

.benefit {
    width: 20em;
}

.benefit h4 {
    margin-bottom: .5em;
    margin-top   : 1.5em;
}

.benefit p {
    font-size     : .85em;
    letter-spacing: 0.25px;
    line-height   : 1.75em;
    width         : 22em;
}

.benefit:nth-child(2) h4,
.benefit:nth-child(3) h4 {
    margin-top: 1.75em;
}

/* TRUSTED BY Section */
.trusted-by-section {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    height         : 10em;
    justify-content: space-between;
    margin-left    : auto;
    margin-right   : auto;
    margin-top     : 5.55em;
    width          : 61.75em;
}

.trusted-by-section>*:hover {
    cursor    : pointer;
    filter    : brightness(80%);
    transition: all ease-in-out .3s;
}

/* DOWNLOAD Section */
.download-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin-top     : 5.4em;
    text-align     : center;
}

.download-section p {
    font-size    : 1.01em;
    line-height  : 1.75em;
    margin-bottom: 2.45em;
    margin-top   : 1em;
    width        : 38em;
}

.download-buttons {
    margin-bottom: 8.35em;
}

/* FOOTER Section */
.footer-section {
    background-color: var(--background-color);
    padding-bottom  : 3em;
    padding-top     : 2.45em;
}

.container {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    margin-left    : auto;
    margin-right   : auto;
    width          : 61.6em;
}

.links-column-group {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 60.7%;
}

.column {
    align-items   : flex-start;
    display       : flex;
    flex-direction: column;
    gap           : 1em;
}

.column img {
    width: 3em;
}

.column:nth-child(2) {
    margin-left: 3.35em;
}

.column:nth-child(3) {
    margin-left: 1.25em;
}

.social-icons-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 10.75%;
}

.social-icons-group>*:hover {
    opacity   : 80%;
    transition: all ease-in-out .3s;
}

.attribution {
    bottom    : 1em;
    font-size : .8em;
    left      : 50%;
    position  : absolute;
    text-align: center;
    transform : translateX(-50%);
}

.attribution a {
    color      : var(--light-blue);
    font-weight: 500;
}