:root {
    /* Primary Colours */
    --strong-cyan      : hsl(171, 66%, 44%);
    --light-blue       : hsl(233, 100%, 69%);
    /* Neutral Colours */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue     : hsl(201, 11%, 66%);
    --background-color : hsl(220, 18%, 97%);
    /* Base font-size */
    font-size          : 18px;
}

/* Initialization */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

/* General Styles */
body {
    font-family: "Bai Jamjuree", sans-serif;
    min-height : 100vh;
    min-width  : 100vw;
    overflow   : hidden;
    overflow-y : scroll;
    position   : relative;
}

section {
    width: 100%;
}

h1 {
    color      : var(--dark-grayish-blue);
    font-size  : 2.2em;
    font-weight: 600;
}

h2 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.95em;
    font-weight: 600;
}

h3 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.5em;
    font-weight: 600;
}

h4 {
    color      : var(--dark-grayish-blue);
    font-size  : 1.25em;
    font-weight: 600;
}

p {
    color    : var(--grayish-blue);
    font-size: 1em;
}

a {
    color          : var(--dark-grayish-blue);
    font-size      : 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight    : 500;
    transition     : all ease-in-out .3s;
}

button {
    border        : 0;
    border-bottom : 0.2em solid;
    border-radius : 2em;
    color         : white;
    cursor        : pointer;
    font-family   : "Bai Jamjuree", sans-serif;
    font-size     : .8em;
    font-weight   : 500;
    height        : fit-content;
    letter-spacing: 0.05em;
    padding       : .85em 2em 0.65em 2em;
    width         : fit-content;
}

button:hover {
    opacity   : 80%;
    transition: all .3s;
}

/* Common Styles */

section h2~p {
    line-height: 1.5em;
    margin-top : .75em;
}

.download-for-ios {
    background-color: var(--strong-cyan);
    border-color    : hsl(171, 66%, 38%);
    box-shadow      : 0px 13px 20px -10px hsla(171, 66%, 50%, 0.5);
}

.download-for-mac {
    background-color: var(--light-blue);
    border-color    : hsl(233, 100%, 63%);
    box-shadow      : 0px 13px 20px -10px hsla(233, 100%, 75%, 0.5);
}

.call-to-actions,
.download-buttons {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : .75em;
    justify-content: center;
}

/* HERO Section */
.hero-section {
    align-items        : center;
    background-image   : url(./images/bg-header-desktop.png);
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : auto 75vh;
    display            : flex;
    flex-direction     : column;
    height             : 100vh;
    justify-content    : center;
}

.hero-section img {
    margin-bottom: 2.5em;
}

.hero-section p {
    margin-bottom: 2em;
    margin-top   : 1.25em;
    text-align   : center;
    width        : 33.75em;
}

.features-summary-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : 15em;
    justify-content: center;
}

.features-summary-section p {
    font-size : .95em;
    text-align: center;
    width     : 38.75em;
}

.feature-overview-section {
    display        : flex;
    flex-direction : row;
    height         : fit-content;
    justify-content: space-between;
    padding-bottom : 7.5em;
    padding-top    : 3em;
}

.feature-overview-section img {
    left    : -5em;
    position: relative;
    width   : 55%;
}

.features-group {
    align-items   : flex-start;
    display       : flex;
    flex-direction: column;
    gap           : 4em;
    position      : relative;
    top           : 4em;
    width         : 45%;
}

.feature p {
    line-height: 1.75em;
    margin-top : .25em;
    width      : 22em;
}

.cross-platform-compatibility-section {
    margin-bottom: 3em;
    text-align   : center;
}

.cross-platform-compatibility-section p {
    margin-bottom: 5em;
    margin-left  : auto;
    margin-right : auto;
    width        : 37em;
}

.benefits-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    text-align     : center;
}

.benefits-group {
    align-content  : center;
    display        : flex;
    flex-direction : row;
    gap            : 2.5em;
    justify-content: center;
    margin-bottom  : 7.5em;
    margin-top     : 5em;
    width          : 70em;
}

.benefit {
    width: 22em;
}

.benefit h4 {
    margin-bottom: .5em;
    margin-top   : 1.5em;
}

.benefit p {
    line-height: 1.75em;
}

.trusted-by-section {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 7.25em;
    justify-content: center;
    margin-bottom  : 7.5em;
    margin-left    : auto;
    margin-right   : auto;
    margin-top     : 2.5em;
    width          : 70em;
}

.trusted-by-section>*:hover {
    cursor    : pointer;
    filter    : brightness(80%);
    transition: all ease-in-out .3s;
}

.download-section {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    text-align     : center;
}

.download-section p {
    margin-bottom: 4em;
    width        : 38em;
}

.download-buttons {
    margin-bottom: 7.5em;
}

.footer-section {
    background-color: var(--background-color);
    padding-bottom  : 4em;
    padding-top     : 3.5em;
}

.container {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    margin-left    : auto;
    margin-right   : auto;
    width          : 70em;
}

.links-column-group {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 60%;
}

.column {
    align-items   : flex-start;
    display       : flex;
    flex-direction: column;
    gap           : 1em;
}

.column img {
    width: 3em;
}

.social-icons-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 10%;
}

.social-icons-group>*:hover {
    opacity   : 80%;
    transition: all ease-in-out .3s;
}

.attribution {
    bottom    : 1em;
    font-size : .8em;
    left      : 50%;
    position  : absolute;
    text-align: center;
    transform : translateX(-50%);
}

.attribution a {
    color      : var(--light-blue);
    font-weight: 500;
}